*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

.container{
    justify-content: center;
    align-items: center;

}

.content{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: black;
    border: dashed 2px ;
}

.bg-cheddar{
    background-color: rgb(255, 196, 0);
}

.bg-navy{
    background-color: navy;
}

.bg-pink{
    background-color: pink;
}


/* Logo link e login */
.left-col{
    margin-left: 350px;

}

.right-col{
    margin-right: 350px;
    justify-content: flex-end;
}

.middle-col{
    justify-content: center;
}

/* Container rosa */
.min-h-400{
    min-height: 400px;
}

.min-w-900{
    min-width: 900px;
}

.mar-50{
    margin: 50px 0;
}
    