*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

.container{
    justify-content: center;
    align-items: center;

}

.sp{
    justify-content: space-between;
}

.content{
    margin: 25px 0px;
    padding: 10px;
    color: black;
    border: dashed 2px;
}

.border-white{
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.flex-g-1{
    flex-grow: 1;
}

.bg-cheddar{
    background-color: rgb(255, 196, 0);
}

.bg-navy{
    background-color: navy;
}

.bg-pink{
    background-color: pink;
}

.bg-blue{
    background-color: rgb(0, 110, 255);
}

.bg-grey{
    background-color: rgb(197, 197, 197);
}

.bg-green{
    background-color: green;
}

.bg-light-blue{
    background-color: lightblue;
}

.bg-dark-grey{
    background-color: rgb(59, 59, 59);
}

/* Logo link e login */
.left-col{
    margin-left: 350px;

}

.right-col{
    margin-right: 350px;
    justify-content: flex-end;
}

.middle-col{
    justify-content: center;
}

/* Container rosa */
.min-h-400{
    min-height: 400px;
}

.min-w-900{
    min-width: 45%;
}


/* Rettangolo blu rettangolo rosa */
.min-h-600{
    min-height: 600px;
}

/* Rettangolo rosa rettangolo blu */
.reverse-row{
    flex-direction: row-reverse;
}

/* Rettangolo verde */
.min-h-800{
    min-height: 800px;
}

/* Footer */
.end{
    margin-top: 20px;
}